body {font-family: Arial, Helvetica, sans-serif}{color: #77777}{backround-color: #77777}{width=960px}{font-size 18px;}
header {backround-color: #ebebe;}
aside {backround-color: #ebebe;}
section {backround-color: #ebebe;}{width: 495px;}
footer {backround-color: #ebebe;}
article {color: #ebebe}{backround-color: #77777;}
h1 {color: #77777}{backround-color: #ebebe}
p {color: #77777}{backround-color: #ebebe}